*.png filter=lfs diff=lfs merge=lfs -text


# ================================
# Archivos de Unity (texto normal)
# ================================
*.meta text
*.unity text
*.prefab text
*.anim text
*.asset text


# Configuración
*.json text
*.xml text